.Monsters {
  $ratio: 0.424;

  height: 150px; //354px 0.424
  position: absolute;
  z-index: 10;

  &__mummy {
    height: 200.968px * $ratio; //200.968px
    &-bgc {
      background-color: rgb(63, 39, 33);
    }
  }

  &__vampire {
    height: 220.673px * 0.424; //220.673px
    &-bgc {
      background-color: rgb(59, 69, 126);
    }
  }

  &__spider {
    height: 104.901px * 0.424; //104.901px
    &-bgc {
      background-color: rgb(241, 234, 53);
    }
  }

  &__ghost {
    height: 200.7px * 0.424; //200.7px
    &-bgc {
      background-color: rgb(0, 0, 0);
    }
  }

  &__skeleton {
    height: 18.25%;
    // height: 222.792px * 0.424; //222.792px
    &-bgc {
      background-color: rgb(0, 0, 0);
    }
  }

  &__alien {
    height: 19.38%;
    // height: 218.464px * 0.424; //218.464px
    &-bgc {
      background-color: rgb(0, 0, 0);
    }
  }

}
