.Monsters {
  $ratio: 0.424;

  height: 150px; //354px 0.424
  position: absolute;
  z-index: 10;

  &__mummy {
    height: 16.868%; //200.968px
    .mobile & {
      height: 14.47%;
    }
  }

  &__dracula {
    height: 25.286%; //220.673px
    .mobile & {
      height: 15.4%;
    }
  }

  &__spider {
    height: 22.103%; //104.901px
    .mobile & {
      height: 13.462%;
    }
  }

  &__ghost {
    transform: rotate(30deg);
    height: 22.666%; //200.7px
    .mobile & {
      height: 13.816%;
    }
  }

  &__skeleton {
    height: 18.25%;
    .mobile & {
      height: 13.6%;
    }
  }

  &__alien {
    height: 19.38%;
    .mobile & {
      height: 14.44%;
    }
  }
}
