.Monsters {
  position: absolute;
  z-index: 10;

  &__alien {
    height: 19.38%;
    .mobile & {
      height: 14.443%;
    }
  }

  &__yaga {
    height: 20.805%;
    transform: rotate(-20grad);
    .mobile & {
      height: 15.518%;
    }
  }

  &__skeleton {
    height: 18.251%;
    .mobile & {
      height: 13.602%;
    }
  }

  &__mummy {
    height: 19.425%;
    .mobile & {
      height: 14.476%;
    }
  }

  &__spider {
    height: 18.063%;
    .mobile & {
      height: 13.462%;
    }
  }

  &__ghost {
    transform: rotate(30deg);
    height: 18.523%;
    .mobile & {
      height: 13.816%;
    }
  }

  &__doctor {
    height: 21.549%;
    .mobile & {
      height: 16.06%;
    }
  }

  &__bed {
    height: 13.694%;
    .mobile & {
      height: 10.2%;
    }
  }

  &__wolf {
    height: 12.439%;
    .mobile & {
      height: 9.271%;
    }
  }

  &__yeti {
    height: 19.951%;
    .mobile & {
      height: 14.868%;
    }
  }

  &__dracula {
    height: 21%;
    .mobile & {
      height: 15.4%;
    }
  }

  &__zombie {
    height: 22.09%;
    .mobile & {
      height: 16.463%;
    }
  }

}
