select-char-page {
  .container {
    background-color: $primary-light-color;
  }

  .list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .item {
    position: relative;
    width: 50%;
    height: 300px;
    border: 10px solid $primary-light-color;
  }

  .name {
    display: block;
    padding: 6px;
    background-color: grey;
    text-align: center;
  }
}
