<ion-content class="container" fixed no-bounce>
  <div class="bg">
    <div class="list" [class.mobile]="isIphone()">
        <img *ngFor="let monster of getMonsters()" (click)="beginGame(monster)" src="assets/imgs/Monsters/{{monster.getName()}}.svg" alt="placholder" class="Monsters Monsters__{{monster.getName()}}" id="{{monster.getName()}}">
    </div>
    <background-mobile *ngIf="isIphone(); else tablet"></background-mobile>
    <ng-template #tablet>
      <background-tablet></background-tablet>
    </ng-template>
  </div>
</ion-content>
