.alien {
  &__screen {
    background-color: black;
  }

  & .head--figure {
    fill: #6fc055;
  }

  & .mouth {
    fill: #f24943,
  }

  & .iris {
    fill: #586ab1,
  }

  & .body--figure {
    fill: #6fc055;
  }
}
