.ghost {
  &__screen {
    background-color: #000;
  }

  & .body {
    fill: #b7e3ee;
  }

  & .eyeball {
    fill: #fff;
  }

  & .ubula {
    fill: #f24943;
  }

  & .tooth {
    fill: #fff;
  }

  & .mouth {
    clip-path: url(#mouth-clip-path);
  }
}
