.mummy {
  &__screen {
    background-color: #3f2721;
  }

  & .head--figure {
    fill: #fff;
  }

  & .ear {
    fill: #b48d69;
  }

  & .head-part {
    fill: #ffd7a5;

    &--dark {
      fill: #e1b285;
    }

    &--empty {
      fill: #000;
    }
  }

  & .body-part {
    fill: #ffd7a5;

    &--dark {
      fill: #e1b285;
    }
  }

  & .tooth {
    fill: #fff;
  }

  & .eyeball {
    fill: #f24943;
  }

  & .decor {
    &__bandage {
      fill: #e1b285;
    }
  }
}
