.yaga {
  right: 0;
  
  &__screen {
    background-color: #72538e;
  }

  & .body-figure {
    fill: #20654d;
  }

  & .ornament-part {
    fill: #f24943;
  }

  & .mouth-figure {
    fill: #f24943;
  }

  & .tooth {
    fill: #fff;
  }

  & .face {
    fill: #00b15d;
  }

  & .eyeball {
    fill: #fff;
  }

  & .nose {
    fill: #20654d;
  }
}
