.zombie {
  right: 0;

  &__screen {
    background-color: #f46540;
  }

  & .body {
    fill: #cdcdcd;
  }

  & .face {
    fill: #00ad5e;
  }

  & .nose {
    fill: #20654d;
  }

  & .pupil {
    fill: #f24943;
  }

  & .steam-part {
    stroke-width: 2.63px;
    stroke: #000;
    stroke-miterlimit: 10;
    fill: none;
  }
}
