// http://ionicframework.com/docs/theming/

// Styles for browser, delete before production
body {
  background-color: lightgrey;
}

.iphone {
  margin: auto;
  margin-top: 160px;
  width: 350px;
  height: 625px;

  position: relative;

  &-svg {
    position: absolute;
    z-index: -1;
    width: 119%;
    left: 50%;
    top: -118px;
    transform: translateX(-50%);
    .cls-1{fill:#fdfdfd;stroke-width:2px;}
    .cls-1,.cls-2,.cls-3{stroke:#7e89a3;}
    .cls-2{fill:#fff;}
    .cls-3{fill:none;}
  }
}



@media (max-width: 460px) {
  .iphone {
    position: static;
  }
}

@media (max-height: 900px) {
  .iphone {
    margin-top: 25px;

    &-svg {
      display: none;
    }
  }
}

@media (max-height: 625px) {
  .iphone {
    margin-top: 0;
    position: static;
  }
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
