.GameItem {
  width: 100px;

  &--vertical {
    width: auto;
    height: 60px;
  }

  &__dress {

  }

  &__earring {

  }

  &__egg {

  }

  &__eyes {

  }

  &__lips {
    width: 60px;
  }

  &__love-glasses {

  }
}
